Source: pdmenu
Section: shells
Priority: optional
Build-Depends: debhelper, slang1-dev (>= 1.4.4-3), libgpmg1-dev [!hurd-i386]
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.5.5.0

Package: pdmenu
Architecture: any
Depends: ${shlibs:Depends}
Suggests: menu (>= 2.0.0-5)
Conflicts: menu (<< 2.0.0-5)
Description: Simple full screen menu program. 
 A simple full screen menu program, intended to be comfortable 
 login shell for inexperienced users.
 .
 Pdmenu interfaces with Debian's menu system, to provide
 automatically-generated lists of installed programs.
