Source: pdmenu
Section: shells
Priority: optional
Build-Depends: debhelper, slang1-dev, libgpmg1-dev
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.1.1.1

Package: pdmenu
Architecture: any
Depends: ${shlibs:Depends}, libgpmg1 (>= 1.17.8)
Suggests: menu (>= 2.0.0-5)
Conflicts: menu (<< 2.0.0-5)
Description: Simple full screen menu program. 
 A simple full screen menu program, intended to be comfortable 
 login shell for inexperienced users.
 .
 Pdmenu interfaces with Debian's menu system, to provide
 automatically-generated lists of installed programs.
