Source: pdmenu
Section: shells
Priority: optional
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.1.1.1

Package: pdmenu
Architecture: any
Depends: ${shlibs:Depends}
Suggests: menu (>= 1.4)
Conflicts: menu (<< 1.4)
Description: Simple full screen menu program. 
 A simple full screen menu program, intended to be comfortable 
 login shell for inexperienced users.
 .
 Pdmenu interfaces with Debian's menu system, to provide
 automatically-generated lists of installed programs.
