#!/usr/bin/make -f

CFLAGS=-O2 -Wall -g
INSTALL_PROGRAM=install

# gpm is currently broken or something on s/390
ifeq (s390,$(shell dpkg --print-architecture))
GPMCONFIG = --without-gpm
endif

build: build-stamp
build-stamp:
	dh_testdir
	./configure $(GPMCONFIG) --prefix=/usr --sysconfdir=/etc \
		--mandir=/usr/share/man CFLAGS="$(CFLAGS)"
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean
	-$(MAKE) distclean
	rm -f build-stamp

binary-indep: build

binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean
	$(MAKE) INSTALL_PREFIX=debian/pdmenu \
		INSTALL_PROGRAM="$(INSTALL_PROGRAM)" install
	dh_install debian/pdmenurc etc
	dh_installdirs var/lib/pdmenu
	dh_installmenu
	install debian/menu-method-x11 debian/pdmenu/etc/menu-methods/pdmenu-x11
	install debian/menu-method-vc  debian/pdmenu/etc/menu-methods/pdmenu-vc
	dh_installdocs doc/BUGS README doc/TODO doc/ANNOUNCE
	dh_installexamples -X.in -X.pl examples/*
	dh_installchangelogs
	dh_compress -X examples/
	dh_strip
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_fixperms
	dh_md5sums
	dh_builddeb

# Not intended for use by anyone except the author.
announcedir:
	@echo ${HOME}/src/joeywiki/code/pdmenu/news

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
